<html>
  <head>
    <title>SPlatMapper</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
     <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
     <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
     <script src="/js/leaflet-color-markers.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>